<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>QRCode Generator</title>
    
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div>
            <input type="text" size="25" placeholder="Type or paste the link..." v-model="link" />
        </div>
        <div v-if="link" class="output">
            <img :src="newQrCode" alt="QR Code">
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>